
		h1,h2 {
			color: Red;
			font-family: 'Roboto Condensed';
			text-align: center;
			
		}

		body{
			text-align: center;
			background-color: #FFC9C9;
		}
		a {
			color: Red;
			text-decoration: none;
			text-align: right;
			font-size: 60px;
						font-family: 'Roboto Condensed';
						/*background-color: black;*/

		}

		a:hover {
			text-decoration: none;


		}

		#para-1-index {
			text-decoration: underline;
			font-size: 100px;
			font-family: 'Roboto Condensed';
		}

		img{
			height: 190px;
			width: 190px;
		}

		#para-1, #para-2 {
				font-family: 'Science Gothic';
				font-size: 20px;
		}

		#para-2{
			color: darkgreen;
		}

		h3{
			text-align: left;
		}
		#First-list{
			list-style: none;
            width: 300px;
            margin: auto;
            padding: auto;
            
		}

		ul{
			list-style: none;
			width: 300px ;
			margin: 36px auto 0 auto;
			padding: 0;
		}

		li{
			background-color: lightskyblue;
			border-radius: 6px;
			margin: 15px;
			padding: 15px;
			border: 10px;

		}